body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  background-color: #240046;

}


.logo{
  font-size: xx-large;
  color: #ffffff;
  text-shadow: 3px 2px 1px #000;
  padding: 10px 10px;
  box-shadow: 2px 5px 3px 3px #FF6D00;
  background-color: #FF9E00;
  
}

.bottons{
  display: flex;
  align-items: center;


}